
#Title
{
	text-align: center;
	color: rgb(256, 256, 256);
}

#MenuSelectTasks
{
	width: 500px;
	height: 60px;

	background: rgb(68, 169, 99);
	border: 2px solid rgb(256, 256, 256);

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}

#SortAll, #SortDone, #SortToDo
{
	width: 100px;
	height: 50px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	border-radius: 7%/ 15%;

	background: rgb(256, 256, 256);

	font-size: 1.2em;
	color: rgb(68, 169, 99);
}

#SortAll:hover, #SortDone:hover, #SortToDo:hover
{
	width: 100px;
	height: 50px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	border-radius: 7%/ 15%;

	background: rgba(256, 256, 256, 0.85);

	font-size: 1.2em;
	color: rgb(68, 169, 99);
}


#AllToDoList
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 500px;
	min-height: 600px;
	max-height: auto;

	/*border-top: 1px solid rgb(256, 256, 256);
	border-bottom: 2px solid rgb(256, 256, 256);
	border-left: 2px solid rgb(256, 256, 256);
	border-right: 2px solid rgb(256, 256, 256);*/

	margin-top: 20px;

	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

#Header
{
	width: 100%;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0%;

	border-top: 2px solid rgb(256, 256, 256);
	border-bottom: 2px solid rgb(256, 256, 256);
	border-left: 2px solid rgb(256, 256, 256);
	border-right: 2px solid rgb(256, 256, 256);


	background: rgb(68, 169, 99);
}

#MainForm
{
	background: rgb(68, 169, 99);

	border: 1px solid rgb(68, 169, 99);

	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 20px;
}

#inputTaskToDo
{
	height: 40px;

	border: 1px solid rgb(68, 169, 99);

	font-size: 1.4em;
}

#addTaskButton, #optionButton
{
	width: 30px;
	height: 30px;

	border: 1px solid rgb(256, 256, 256);
	background: rgb(68, 169, 99);

	border-radius: 20%/ 20%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
	color: rgb(256, 256, 256);

	margin-left: 10px;
	margin-right: 10px;
}

#addTaskButton:hover, #optionButton:hover
{
	width: 30px;
	height: 30px;

	border: 1px solid rgb(256, 256, 256);
	background: rgb(77, 153, 100);

	border-radius: 20%/ 20%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
	color: rgb(256, 256, 256);

	margin-left: 10px;
	margin-right: 10px;
}

#TasksToDo
{
	width: 98%;
	min-height: 500px;
	max-height: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/*border: 1px solid rgb(256, 256, 256);*/

	position: absolute;
	top: 15%;
}

.Task
{
	width: 97%;
	min-height: 50px;
	max-height: auto;

	border: 1px solid rgb(256, 256, 256);
	border-radius: 2%/ 10%;

	margin-top: 15px;
	margin-bottom: 15px;
}

.TaskTxt
{
	margin-left: 10px;

	color: rgb(256, 256, 256);
	font-size: 1.1em;
}

.ButtonsTasks
{
	display: flex;
}

.DoneTaskBox
{
	width: 30px;
	height: 30px;

	border: 0;
	/*border: 1px solid rgb(256, 256, 256);
	background: rgb(20, 20, 20);*/
	background: url("Assets/Imgs/Check1.png") center no-repeat;

	/*border-radius: 20%/ 20%;*/

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
	color: rgb(256, 256, 256);

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.DeleteTaskButton
{
	width: 30px;
	height: 30px;

	border: 0;
	/*border: 1px solid rgb(256, 256, 256);*/
	background: url("Assets/Imgs/logoDelete.png") center no-repeat;

	/*border-radius: 20%/ 20%;*/

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
	color: rgb(256, 256, 256);

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.Hidden
{
	visibility: hidden;
}

/*
.MenuSelectTasks
{
	width: 300px;
	height: 300px;
	background: red;
	visibility: hidden;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
}*/

body
{
	margin: 0px;

	background: rgb(34, 34, 34);
}